@charset "UTF-8";
* {
    font-size: 1em;
}
body{
    height: 100vh;
    background-image: linear-gradient( to bottom, #8E6823,#FFCC77);
}
main{
    height: 45%;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
}
div#img {
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: right; 
    background-position: bottom center;
    background-size: cover;
    position: absolute;
    right: 0px;
}
div#login {
    display: inline-block;
    width: 50%;
}
#login > h1 {
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
}
#login > p {
    padding: 10px;
    font-size: 1.01em;
}
