@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #8E6823
}
main{
    width: 60vw;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    border-radius: 20px;
    overflow: hidden;
    transition: width .3s, height .3s;
}
section#tela{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
}
div#img{
    background: rgb(0, 0, 90) url(../images/entrada.jpg) no-repeat center ;
    width: 100%;
    height: 40%;
}
div#login {
    background-color: rgb(255, 255, 255);
}
#login > h1 {
    padding: 5px;
    text-align: center;
}
#login > p {
    font-size: 0.9em;
    padding: 10px;
}
form {
    padding: 10px;
    padding-top: 0px;  
}
#pb1, #pb2{
    background-color: #FFE077;
    text-align: left;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 10px;
}
input.ibox{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.ibox2 {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 1px;
    margin-bottom: 3px;
    border-color: rgba(3, 184, 124, 0.692) ;
}
#sing {
    background-color: rgba(0, 128, 85, 0.692);
    color: white;
    
}
#forg {
    color: rgba(0, 128, 85, 0.692);
}
#sing:hover{
    background-color: aqua;
    transition-duration: 0.5s;
}
#forg:hover{
    background-color: aqua;
    color: white;
    transition-duration: 0.5s;
}