@charset "UTF-8";

body{
    height: 100vh;
    background-image: linear-gradient( to bottom, #8E6823,#FFCC77);
}
main{
    height: 310px;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}
div#img {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: left;
    background-size: cover;
}
div#login {
    display: inline-block;
    position: absolute;
}
#login > h1 {
    padding: 10px;
}
.ibox2 {
    font-size: 1em;
}