@charset "UTF-8";

body{
    height: 100vh;
    background-image: linear-gradient( to bottom, #8E6823,#FFCC77);
}
main{
    width: 100%;
    height: 100%;
}
section#tela{
    height: 310px;
    width: 80%;
    display: flex;
}
div#img {
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: left;
    background-size: cover;
}
div#login {
    width: 70%;
}
#login > h1 {
    padding: 10px;
}
.ibox2 {
    font-size: 1em;
}